notes/
.DS_Store

/vendor
/wp

/wp-config.php

/content/themes/twentynineteen
/content/plugins/hello-dolly
/content/plugins/query-monitor
/content/plugins/simply-show-hooks
/content/plugins/what-the-file
/content/plugins/contact-form-7
/content/plugins/advanced-custom-fields
/content/plugins/advanced-custom-fields-font-awesome
/content/plugins/rewrite-rules-inspector
/content/plugins/classic-editor
/content/plugins/regenerate-thumbnails

/content/languages

/content/db.php
/content/debug.log
