.overlay {
    background: transparentize($color-primary, 0.90);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    &__container {
        left: 50%;
        margin: 0 auto;
        position: absolute;
        top: 40vh;
        transform: translateX(-50%);
        width: 25%;
    }

    &__close-button {
        position: absolute;
        right: $gutter;
        top: $gutter;
    }

    .menu__list__item__link,
    &__close-button {
        color: $color-dark-background-text;
    }

    &--hidden {
        display: none;
    }

    .menu:last-child {
        .menu__list {
            display: block;
            text-align: center;
            width: 100%;

            > * {
                display: inline;
            }
        }
    }

    .menu--vertical {
        margin-bottom: $gutter-large;

        .menu__list {
            align-items: stretch;

            &__item {
                border-bottom: $border-width-thin solid $color-footer-border;

                &:last-child {
                    border-bottom: none;
                }

                &__link {
                    color: $color-dark-background-text;
                }
            }
        }
    }
}

body.admin-bar .overlay__close-button {
    top: calc(#{$gutter} + 32px);
}